.box-watchlist {
  border-radius: 10px;
  height: 70vh;
  overflow: auto;
  /* background: red; */
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
/* Track  */
.box-watchlist::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 50px;
}

/* Handle */
.box-watchlist::-webkit-scrollbar-thumb {
  background: rgb(54, 54, 54);
  border-radius: 50px;
}

/* width */
.box-watchlist::-webkit-scrollbar {
  width: 10px;
  overflow: hidden;
}

.elem-watchlist {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.asset-name-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.watchlist-price-change {
  font-size: 15px;
  margin-right: 10px;
}

.watchlist-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.green-indicator {
  color: green;
}

.red-indicator {
  color: red;
}
